.hero-homepage {
  border-bottom: 1px solid $c-light;
}

.hero-homepage__wrapper {
  @extend .flex-wrap;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.hero-homepage__inner {
  width: 100%;
  @include breakpoint($break-m) {
	max-width: 75%;
	padding-left: 10%;
  }
}

.hero-homepage__figure {
  @include ratio(16, 9);
  @include breakpoint($break-m) {
	width: 50%;
  }
}

.hero-homepage__block {
  @include breakpoint($break-m) {
	width: 50%;
  }
}

.hero-homepage__title {
  @extend .heading-large;
  margin-bottom: 20px;
}

.hero-homepage__footer {
  margin-top: 20px;
}
