.hero-homepage__wrapper {
  @extend .flex-wrap;
  position: relative;
  align-items: center;
  overflow: hidden;
  @include breakpoint($break-m) {
	justify-content: flex-end;
  }
}

.hero-homepage__inner {
  width: 100%;
}

.hero-homepage__figure {
  @include ratio(16, 9);
  @extend .bg-contain;
  @include breakpoint($break-m) {
	width: 60%;
  }
}

.hero-homepage__block {
  @include breakpoint($break-m) {
	width: 100%;
	max-width: 500px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
  }
}

.hero-homepage__title {
  @extend .h1;
  margin-bottom: 20px;
  color: $c-blue;
}

.hero-homepage__description {
  @extend .lead;
  color: $c-primary;
}

.hero-homepage__footer {
  margin-top: 20px;
}
