@font-face {
  font-family: 'Salesforce Sans';
  src: url('../fonts/SalesforceSans-Italic.eot');
  src: url('../fonts/SalesforceSans-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SalesforceSans-Italic.woff') format('woff'),
  url('../fonts/SalesforceSans-Italic.ttf') format('truetype'),
  url('../fonts/SalesforceSans-Italic.svg#SalesforceSans-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url('../fonts/SalesforceSans-Regular.eot');
  src: url('../fonts/SalesforceSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SalesforceSans-Regular.woff') format('woff'),
  url('../fonts/SalesforceSans-Regular.ttf') format('truetype'),
  url('../fonts/SalesforceSans-Regular.svg#SalesforceSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url('../fonts/SalesforceSans-Light.eot');
  src: url('../fonts/SalesforceSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SalesforceSans-Light.woff') format('woff'),
  url('../fonts/SalesforceSans-Light.ttf') format('truetype'),
  url('../fonts/SalesforceSans-Light.svg#SalesforceSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Salesforce Sans';
  src: url('../fonts/SalesforceSans-Bold.eot');
  src: url('../fonts/SalesforceSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SalesforceSans-Bold.woff') format('woff'),
  url('../fonts/SalesforceSans-Bold.ttf') format('truetype'),
  url('../fonts/SalesforceSans-Bold.svg#SalesforceSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
