html {
  font-size: 100%;
}

body {
  @include font-size(13, 20);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $f-sans;
  font-weight: 400;
}

/**
Heading
 */

.h1 {
  @include font-size(38, 45);
}

.h2 {
  @include font-size(32, 38);
}

.h3 {
  @include font-size(18, 21);
  font-weight: 700;
}

.lead {
  @include font-size(18, 34);
}

/**
Button
 */

%button-text {
  @include font-size(14, 22);
  font-weight: 700;
}

/**
Footer
 */

.footer-widget-title {
  @include font-size(15, 18);
  font-weight: 500;
}

.footer-link {
  @include font-size(13, 24);
}

.header-menu-text,
.footer-copyright-text {
  @include font-size(14, 17);
}
