html {
  font-size: 100%;
}

body {
  @include font-size(13, 17);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $f-sans;
  font-weight: 400;
  color: $c-biscay;
  letter-spacing: 0;
}

.heading-large {
  @include font-size(28, 36);
}

.heading-medium {
  @include font-size(20, 26);
}

.heading-small {
  @include font-size(16, 21);
}

.heading-label {
  @include font-size(12, 15);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.page-heading-small {
  @include font-size(12, 12);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.small {
  @include font-size(12, 15);
}

.link {
  @include font-size(13, 17);
}
