/**
Colors
 */

$c-black: #000;
$c-white: #fff;
$c-red: #FF4536;
$c-blue: #083C7E;

$c-primary: #6782A4;

/**
Font family
 */

$f-sans: 'Maven Pro', Arial, Helvetica, sans-serif;

/**
Breakpoints
 */

$break-xs: 480;
$break-s: 600;
$break-sm: 768;
$break-m: 1024;
$break-md: 1280;
$break-lg: 1440;
