/**
General Colors
 */

$c-deep-cover: #061C3F;
$c-biscay: #16325C;
$c-blue-midnight: #00396B;
$c-endeavor: #005FB2;
$c-kasmir: #54698D;
$c-blue-cadet: #A8B7C7;
$c-blue-science: #0070D2;
$c-azure: #1589EE;
$c-geyser: #D8DDE6;
$c-stream: #E0E5EE;
$c-flush-mahogany: #C23934;
$c-koromiko: #FFB75D;
$c-link-water: #F4F6F9;
$c-white: #FFFFFF;
$c-salem: #04844B;
$c-emerald: #4BCA81;

/**
Color Patterns
 */
$c-green: $c-salem;
$c-orange: $c-koromiko;
$c-red: $c-flush-mahogany;
$c-blue: $c-azure;
$c-dblue: $c-blue-midnight;
$c-dark: $c-deep-cover;
$c-gray: $c-blue-cadet;
$c-light: $c-kasmir;

/**
Font family
 */

$f-sans: 'Salesforce Sans', Arial, Helvetica, sans-serif;
